.skills-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    background-color: rgb(33, 33, 33);
    color: white;
    padding-left: 100px;
    padding-right: 100px;
}
.skills-list{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    overflow: hidden;
    padding-top: 40px;
}

.skill-box{
    height: fit-content;
    width: fit-content;
    margin-left: 70px;
    margin-right: 70px;
}
.skill-box:hover{
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
}
.skill-img{
    height: 80px;
    width: 80px;
}

.skills-h2{
    font-size: 55px;
    color: orange;
    margin: 10px;
    margin-bottom: 110px;
}